

.App {
  height: 40vmin;
 
  border-width: medium;
  border-style: solid;
  border-color:#9a9a9a;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





.foto {
  
  text-align: center;
margin: 10px; 
 }


 .nome {
  font-size: 16pt;
  text-align: center;
 font-family: verdana;
 color: black;
text-align: center;

 }



 .dadospessoais {
  font-size: 14pt;
 font-family: verdana;
text-align: left  ;
display: inline-block;  



}

.formacao {
  font-size: 14pt;
 font-family: verdana;
 text-align: left;



}





.curriculum {
 font-size: 14pt;
 text-align: center;
font-family: verdana;
}




 .experiencia {
  font-size: 14pt;
  text-align: left;
  font-family: verdana;
 }

 .p {
  font-size: 14pt;
  text-align: left;
  font-style: initial;
  font-family: verdana;
 }

 .objetivo {
  font-size: 14pt;
  text-align: left;
  font-style: initial;
 }
